<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SignUp Page</h1>
<form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <br/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <br/>
    <label for="password-re">Retype Password:</label>
    <input type="password" name="retypedPassword" id="password-re" />
    <br/>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <br/>

    <th:block th:each="role : ${roles}">
        <input type="checkbox" name="roles" th:value="${role.name()}" th:id="|role-${role.name()}|"/>
        <label th:for="|role-${role.name()}|" th:text="${role.getRoleName()}"></label>
        <br/>
    </th:block>

    <input type="submit" value="Login" />
    <input type="reset" value="Reset" />
</form>
</body>
</html>